@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Identity
@using PP0.EntityFrameworkCore.Database.Entities
@using System.Security.Claims

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@functions {
    public async Task<string> GetUserRole(ClaimsPrincipal user)
    {
        var userObj = await UserManager.GetUserAsync(user);
        var roles = await UserManager.GetRolesAsync(userObj);
        if (userObj == null)
        {
            return string.Empty; 
        }
        //return roles.FirstOrDefault() ?? string.Empty;
        return string.Join("|", roles);
    }
}

@{
    var action = ViewContext.RouteData.Values["Action"]?.ToString();
    var controler = ViewContext.RouteData.Values["Controller"]?.ToString();
    // Pobierz adres URL hosta
    var host = $"{HttpContextAccessor.HttpContext.Request.Scheme}://{HttpContextAccessor.HttpContext.Request.Host}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PP0.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PP0.WEB.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="~/images/logo.jpg" class="bi me-2" width="40" height="32" alt="Logo">
                <span class="fs-4">Patient Portal</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link active" aria-current="page">Home</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item"><a asp-controller="Visit" asp-action="Index" class="nav-link">Visits</a></li>
                    @if((await GetUserRole(User)).Contains("Admin"))
                    {
                    <li class="nav-item"><a asp-controller="User" asp-action="Index" class="nav-link">Users</a></li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @User.Identity!.Name|
                            <span class="role-display">@await GetUserRole(User)</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="nav-link">Login</a></li>
                    <li class="nav-item"><a asp-controller="Account" asp-action="Register" class="nav-link">Register</a></li>                    
                }
            </ul>
        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - <a href="@host"> @host </a> <a asp-area="" asp-controller="Home"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
