@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Pobierz adres URL hosta
    var host = $"{HttpContextAccessor.HttpContext.Request.Scheme}://{HttpContextAccessor.HttpContext.Request.Host}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PP0.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PP0.WEB.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="~/images/logo.jpg" class="bi me-2" width="40" height="32" alt="Logo">
                <span class="fs-4">Portal Pacjenta</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a asp-controller="Login" asp-action="Index" class="nav-link">Login</a></li>
                <li class="nav-item"><a asp-controller="Register" asp-action="Index" class="nav-link">Rejestracja</a></li>
                <li class="nav-item"><a asp-controller="Visit" asp-action="Index" class="nav-link">Wizyty</a></li>
                <li class="nav-item"><a asp-controller="User" asp-action="Index" class="nav-link">Użytkownicy</a></li>
            </ul>
        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - <a href="@host"> @host </a> <a asp-area="" asp-controller="Home"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
